BASE_URL=http://localhost:3030
BROWSER=chrome
CHROME_DRIVER_PATH=D:\chromedriver-win64\chromedriver-win64\chromedriver.exe
HEADLESS=false
IMPLICIT_WAIT=0
EXPLICIT_WAIT=10
WINDOW_WIDTH=1440
WINDOW_HEIGHT=900
SCREENSHOT_ON_FAILURE=true
