# Node
node_modules/

# Java
target/
*.class

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Build
dist/
build/

# Environment
.env

#image
*.png
*.jpg
!web/public/images/hero-rescue.jpg
!web/public/images/archive-care.jpg
!web/public/images/shelter-community.jpg

#document
*.docx
